<!--
Marfeel HTML5 Slide Template
-->
<!DOCTYPE html>
<html>
<head>
    <title>Marfeel Slides</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--This one seems to work all the time, but really small on ipad-->
    <!--<meta name="viewport" content="initial-scale=0.4">-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" media="all" href="/theme/css/default.css?build=12">
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="/theme/css/phone.css">
    <base target="_blank">
    <!-- This amazingness opens all links in a new tab. -->
    <script src="/js/require-1.0.8.min.js"></script>
    <script type="text/javascript">
        window.build = "{{- cache_bust -}}";

        require.config({
            baseUrl: '/js',
            urlArgs: "bust=" +  window.build,
            paths: {
                "slide-config": "/{{- path -}}/slide_config"
            }
        });

        require(["/js/slides.js", "/js/marfeel.js"]);
    </script>
</head>
<body style="opacity: 0">

<slides class="layout-widescreen">
    {% for slide in slides %}
    <slide {% if slide.class %}class="{{- slide.class -}}" {% endif %} {% if slide.image
           %}style="background-image: url({{- slide.image -}})" {% endif %}>
        {% if 'videocover' in slide.class %}
            <span class="gradient-top"></span>
            <div class="left flexbox vcenter">
                <div class="auto-fadein">
                    <img src="/images/logo.png">
                    <p>{{- slide.title -}}</p>
                </div>
            </div>
            <div class="right flexbox vcenter">
                <div class="{{- slide.device }} auto-fadein">
                    <video loop="" muted="" volume="0" poster="" onclick="this.paused ? this.play() : this.pause()">
                        <source src="{{- slide.video -}}" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="hint">
                <div class="arrows"></div>
                <p class="text">Use the keyboard's arrows to move between slides</p>
            </div>
        {% elif 'frontcover' in slide.class %}
            <span class="gradient-top"></span>
            <hgroup class="auto-fadein">
                <h1>{{- slide.title -}}</h1>
                <h2>{{- slide.subtitle -}}</h2>
            </hgroup>
            <img src="/images/logo.png">
        {% elif 'segue' in slide.class %}
        <span class="gradient-top"></span>
        <aside class="gdbar"><img src="/images/favicon144.png"></aside>
        <hgroup class="auto-fadein">
            <h2>{{- slide.title -}}</h2>

            <h3>{{- slide.subtitle -}}</h3>
        </hgroup>
        <span class="footer-divider auto-fadein"></span>
        {% elif 'multivideo' in slide.class %}
        <span class="gradient-top"></span>
        <hgroup class="auto-fadein">
            <h2>{{- slide.title -}}</h2>

            <h3>{{- slide.subtitle -}}</h3>
        </hgroup>
        <article>
            <div class="{{- slide.deviceLeft }} left auto-fadein">
                <video loop="" muted="" volume="0" poster="" onclick="this.paused ? this.play() : this.pause()">
                    <source src="{{- slide.videoLeft -}}" type="video/mp4">
                </video>
            </div>
            <div class="{{- slide.deviceRight }} right auto-fadein">
                <video loop="" muted="" volume="0" poster="" onclick="this.paused ? this.play() : this.pause()">
                    <source src="{{- slide.videoRight -}}" type="video/mp4">
                </video>
            </div>
        </article>
        <span class="footer-divider auto-fadein"></span>
        {% elif 'video' in slide.class %}
        <span class="gradient-top"></span>
        <hgroup class="auto-fadein">
            <h2>{{- slide.title -}}</h2>

            <h3>{{- slide.subtitle -}}</h3>
        </hgroup>
        <article>
            <div class="{{- slide.device }} auto-fadein">
                <video loop="" muted="" volume="0" poster="" onclick="this.paused ? this.play() : this.pause()">
                    <source src="{{- slide.video -}}" type="video/mp4">
                </video>
            </div>
        </article>
        <span class="footer-divider auto-fadein"></span>
        {% elif 'cover' in slide.class %}
        <span class="gradient-top"></span>
        <hgroup class="auto-fadein">
            <h2>{{- slide.title -}}</h2>

            <h3>{{- slide.subtitle -}}</h3>
        </hgroup>
        <span class="footer-divider auto-fadein"></span>
        {% else %}
        <span class="gradient-top"></span>
        <hgroup>
            <h2>{{- slide.title -}}</h2>

            <h3>{{- slide.subtitle -}}</h3>
        </hgroup>
        <article {% if slide.content_class %}class="{{- slide.content_class -}}" {% endif %}>
            {{- slide.content -}}
        </article>
        <span class="footer-divider auto-fadein"></span>
        {% endif %}
    </slide>
    {% endfor %}


    <slide class="closing">
        <span class="gradient-top"></span>
        <article>
            <span>
                <img src="/images/logo.png">
                <p>Optimize, Engage, Monetize.</p>
            </span>
            <footer>
                <div class="skyline"></div>
                <div class="skyline__bkg"></div>
            </footer>
        </article>
    </slide>

    <slide class="backdrop"></slide>

</slides>

<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33892038-3']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
<script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->
</body>
</html>
